@use 'variables';

@mixin modal-background{
    background-color: variables.$Black-modal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; //right: 0;
    height: 100%; //bottom: 0;
    display: none;
}